<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ get_url(path='dist/style.css', cachebust=true) }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#836efe">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/227cd93e8f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="flex flex-col grow min-h-screen">
      <div class="bg-primary fixed w-screen p-1 z-10">
        <nav class="flex flex-row items-center justify-between top-0 left-0 right-0 space-x-6 max-w-prose mx-auto">
          <a class="flex items-center home-link" href="/">
            <img src="{{ get_url(path='images/lobster-clear.png') }}" alt="Displaced Lobster" class="h-10 logo">
            Home
          </a>
          <a href="https://github.com/displaced-lobster" title="Github">
            <i class="fa-brands fa-github"></i>
          </a>
        </nav>
      </div>
      <main class="container grow max-w-prose mx-auto pt-20">
        {% block content %}{% endblock content %}
      </main>
      <footer class="max-w-prose mx-auto">
        <img
          id="lobster"
          alt="Displaced Lobster"
          class="lobster"
          src="{{ get_url(path='images/lobster-clear.png') }}"
        >
      </footer>
    </div>
    <script>
      const lobster = document.getElementById('lobster')

      function updateLobsterPosition() {
        const padding = 50
        const offset = lobster.offsetTop
        const bottom = window.innerHeight + window.scrollY
        const height = 600

        const position = Math.max(0, height - (bottom - offset + padding))

        lobster.style.objectPosition = `50% ${position}px`
      }

      window.addEventListener('scroll', updateLobsterPosition)
      updateLobsterPosition()
    </script>
  </body>
</html>
