{% extends "base.html" %}

{% block title %}DisplacedLobster{% endblock title %}

{% block content %}
  <h1 class="mb-20 glitch-stack text-slate-200" style="--stacks: 3;">
    <span style="--index: 0;">
      Displaced Lobster
    </span>
    <span style="--index: 1;">
      Displaced Lobster
    </span>
    <span style="--index: 2;">
      Displaced Lobster
    </span>
  </h1>

  <div class="space-y-10">
    {% for page in section.pages %}
    <div>
      <a href="{{ page.permalink }}">
        <div class="bg-slate-900 border-2 border-accent hover:border-current card">
          <div class="text-2xl font-bold">{{ page.title }}</div>
          <div class="my-4 text-sm text-accent">{{ page.date }} • {{ page.reading_time }} min read</div>
          <div class="text-slate-200">{{ page.description }}</div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

{% endblock content %}
