{% extends "base.html" %}
{% block title %}Posts{% endblock title %}
{% block content %}
  <h1 class="text-3xl font-bold">{{ section.title }}</h1>

  <div class="space-y-10">
    {% for page in section.pages %}
    <div>
      <a href="{{ page.permalink }}">
        <div class="bg-slate-900 border-2 border-slate-700 hover:border-current card">
          <div class="text-2xl font-bold">{{ page.title }}</div>
          <div class="my-4 text-sm text-slate-400">{{ page.date }} • {{ page.reading_time }} min read</div>
          <div class="text-slate-200">{{ page.description }}</div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
