@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply transition-all;
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
    }

    .card:hover {
        @apply shadow-lg;
        scale: 1.01;
    }
  }

body {
    @apply bg-slate-800;
    @apply text-lg;
    @apply text-slate-200;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

a {
    @apply transition-all;
    @apply text-secondary;
    @apply hover:underline;
}

img {
    @apply rounded;
}

footer a,
nav a {
    @apply text-slate-900;
    @apply hover:text-slate-200;
    @apply transition-colors;
    @apply font-bold;
}

nav a:hover {
    text-decoration: none;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
    @apply mt-8;
}

h3 {
    @apply text-2xl;
    @apply mt-8;
}

h1, h2, h3 {
    @apply font-bold;
    @apply mb-4;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

ul {
    @apply list-disc;
    @apply list-inside;
    @apply ml-8;
}

li {
    @apply mb-1;
}

p {
    @apply my-8;
}

pre {
    @apply overflow-x-auto;
    @apply py-4;
    @apply px-10;
    @apply -mx-10;
    @apply rounded;
    @apply my-8;
    @apply text-base;
}

.glitch-stack {
    cursor: crosshair;
    display: grid;
    grid-template-columns: 1fr;
}

.glitch-stack span {
    grid-row-start: 1;
    grid-column-start: 1;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
}

.glitch-stack span:nth-child(odd) { --glitch-translate: 8px; }

.glitch-stack span:nth-child(even) { --glitch-translate: -8px; }

.glitch-stack:hover span {
    animation: glitch 0.5s ease;
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 currentColor, 2px -3px 0 currentColor;
        transform: translate(var(--glitch-translate));
    }
    20% {
        text-shadow: 2px -3px 0 currentColor, -2px 3px 0 currentColor;
    }
    40%, 100% {  text-shadow: none; transform: none; }
}

.logo {
    filter: brightness(1);
    transition: filter,scale 0.2s ease-in-out;
}

nav a:hover .logo,
nav a:hover i {
    scale: 1.2;
}

nav a:hover .logo {
    filter: brightness(1.5);
}

.lobster {
    object-fit: none;
    height: 600px;
    object-position: 50% 600px;
}
